.breadcrumbs {
  color: #969eae;
  padding-top: 10px;
  //padding-bottom: 24px;

  //@media (min-width: 768px) {
  //  padding-top: 32px;
  //  padding-bottom: 32px;
  //}
  //
  //@media (min-width: 1024px) {
  //  padding-top: 40px;
  //  padding-bottom: 40px;
  //}

  // .breadcrumbs__container
  &__container {
  }
  // .breadcrumbs__navigation
  &__navigation {
  }
  // .breadcrumbs__list
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
  }
  // .breadcrumbs__item
  &__item {
    display: flex;
    gap: 6px;

    &:not(:last-child) {
      &::after {
        content: ">";
        // color: #969eae;
      }
    }

  }
  // .breadcrumbs__link
  &__link {
    transition: color 0.2s ease-in-out;
    &:hover {
      color: #0044f0;
    }
  }
}
