.goods {
  padding-bottom: 40px;

  @media (min-width: 1024px) {
    padding-bottom: 60px;
  }

  // .goods__container
  &__container {
  }
  // .goods__title
  &__title {
  }
  // .goods__list
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 32px 8px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
      column-gap: 10px;
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(auto-fit, minmax(302px, 1fr));
      gap: 40px 16px;
    }
  }
  // .goods__item
  &__item {
  }
  // .goods__card
  &__card {
  }
}
