.order {
  padding-top: 32px;

  @media (min-width: 768px) {
    padding-top: 60px;
  }

  // .order__container
  &__container {
    padding: 24px 16px;
    border-radius: 16px;
    border: 1px solid #eeeff2;
    margin: 0 auto;

    @media (min-width: 768px) {
      max-width: 710px;
      padding: 60px;
    }

    @media (min-width: 1024px) {
      max-width: 726px;
    }

    @media (min-width: 1200px) {
      max-width: 832px;
    }
  }

  // .order__body
  &__body {
    max-width: 408px;
    margin: auto;
  }

  // .order__header
  &__header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;
    }
  }

  // .order__title
  &__title {
    font-size: 16px;
    font-weight: 400;
  }
  // .order__total-price
  &__total-price {
    font-size: 16px;
    font-weight: 400;
  }
  // .order__number
  &__number {
    display: inline-block;
    border-radius: 32px;
    background: #eeeff2;
    padding: 4px 8px;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      margin-bottom: 24px;
    }
  }
  // .order__subtitle
  &__subtitle {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 12px;
  }
  // .order__table
  &__table {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  // .order__btn
  &__btn {
  }
  // .order__link-back
  &__link-back {
    color: #cc00ff;
  }
}
