.product {
  padding-top: 24px;
  padding-bottom: 60px;

  // .product__container
  &__container {
  }
  // .product__title
  &__title {
  }
  // .product__description
  &__description {
    display: flex;
    flex-direction: column;
    gap: 16px;

    > * {
      min-width: 0;
    }

    @media (min-width: 768px) {
      row-gap: 40px;
    }

    @media (min-width: 1024px) {
      flex-direction: row;
    }
  }
  // .product__slider
  &__slider {
    flex-grow: 1;

    > * {
      min-width: 0;
    }
  }
  // .product__slider-main
  &__slider-main {
    position: relative;
    margin-bottom: 14px;

    @media (min-width: 1024px) {
      margin-bottom: 12px;
    }

    @media (min-width: 1200px) {
      margin-bottom: 16px;
    }

    .swiper-slide {
    }
  }
  // .product__slider-image
  &__slider-image {
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    object-fit: cover;
    aspect-ratio: 836/688;
  }
  // .product__slider-arrow
  &__slider-arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    z-index: 2;

    &:hover {
      background-color: #fff;
      color: #0044f0;
    }

    &:disabled {
      pointer-events: none;
    }

    // .product__slider-arrow_prev
    &_prev {
      left: 16px;

      @media (min-width: 768px) {
        left: 24px;
      }
    }
    // .product__slider-arrow_next
    &_next {
      right: 16px;

      @media (min-width: 768px) {
        right: 24px;
      }
    }
  }
  // .product__slider-thumbs
  &__slider-thumbs {
  }
  // .product__info
  &__info {
    min-width: 288px;

    @media (min-width: 1024px) {
      flex-basis: 302px;
    }
    @media (min-width: 1200px) {
      flex-basis: 408px;
    }
  }
  // .product__info-price
  &__info-price {
    font-size: 20px;
    margin-bottom: 12px;
  }
  // .product__info-id
  &__info-id {
    display: inline-block;
    text-align: center;
    border-radius: 32px;
    padding: 4px 8px;
    background-color: #eeeff2;
    margin-bottom: 24px;

    @media (min-width: 768px) {
      margin-bottom: 28px;
    }

    @media (min-width: 1024px) {
      margin-bottom: 24px;
    }
  }
  // .product__characteristics
  &__characteristics {
  }
  // .product__characteristics-title
  &__characteristics-title {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 4px;
  }
  // .product__characteristics-table
  &__characteristics-table {
  }
  // .product__btns
  &__btns {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  // .product__btn
  &__btn {
  }
  // .product__favorite
  &__favorite {
    align-self: center;
    flex: 0 0 auto;

    &:hover {
      svg {
        path {
          stroke: #0044f0;
        }
      }
    }
  }
}

//========================================================================================================================================================

.slider-thumbs {
  // display: none;

  // @media (min-width: 768px) {
  //   display: block;
  // }

  .swiper-wrapper {
    @media (max-width: 768px) {
      display: none;
    }

  //   @media (min-width: 768px) {
  //     display: flex;
  //     gap: 14px;
  //   }

  //   @media (min-width: 1024px) {
  //     gap: 12px;
  //   }

  //   @media (min-width: 1200px) {
  //     gap: 16px;
  //   }
  }

  // .slider-thumbs__item
  &__item {
    border-radius: 16px;
    overflow: hidden;
    aspect-ratio: 196/162;
  }

  // .slider-thumbs__image
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
